# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Env files (sensitive keys)
.env
.env.*  

# Logs
*.log
*.sqlite3

# Pytest / coverage
.coverage
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Docker
*.dockerignore
docker-compose.override.yml